<form class="row" action="{% url 'contact:contact' %}" method="post">{% csrf_token %}
    <div class="col-md-6 form-group">
        <input type="text" class="form-control" placeholder="Your Name (required)" name="name"
               id="input_name" required>
    </div>
    <div class="col-md-6 form-group">
        <input type="text" class="form-control" placeholder="Your Email (required)" name="email"
               id="input_email" required>
    </div>
    <div class="col-md-12 form-group">
        <input type="text" class="form-control" placeholder="Subject" name="contact-subject" id="subject">
    </div>
    <div class="col-md-12 form-group">
                <textarea class="form-control" placeholder="Your message..." rows="5" name="body"
                          id="textarea_message"></textarea>
    </div>
    <div class="col-md-12 form-group">
        <button id="btn_submit" type="submit" name="submit" class="submit">Send</button>
    </div>
    <div id="alert-msg" class="alert-msg"></div>
</form>