{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}


{% block content %}
    <article class="type-post">
        <div class="entry-cover">
            <img src="{{ post.cover.url }}" width="770" height="313" alt="{{ post.title }}"/>
        </div>
        <div class="entry-content">
            <div class="entry-header">
                <span class="post-category"><a href="#" title="Lifestyle">{{ post.category }}</a></span>
                <h3 class="entry-title">{{ post.title }}</h3>
                <div class="post-meta">
                    <span class="byline">by <a href="#" title="Indesign">{{ post.author.get_full_name }}</a></span>
                    <span class="post-date">{{ post.publish|date:"M d, Y" }}</span>
                </div>
            </div>
            <p>{{ post.description|safe }}</p>
            <div class="entry-footer">
                <div class="tags">
                    {% for tag in post.tags.all %}
                        <a href="#" title="Fashion"># {{ tag }}</a>
                    {% endfor %}

                </div>
                <ul class="social">
                    <li><a href="{{ post.get_absolute_share_url }}" title="share_email"><i class="fa fa-envelope-o"></i></a>
                    </li>
                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
            </div>
        </div>
    </article>
    <!-- About Author -->
    <div class="about-author-box">
        <div class="author">
            <i><img src="https://via.placeholder.com/170x170" alt="Author"/></i>
            <h4>David Wilde</h4>
            <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some
                advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that
                has no annoying consequences.</p>
            <ul>
                <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
            </ul>
        </div>
    </div><!-- About Author /- -->
    <!-- Related Post -->
    <div class="related-post">
        <h3>You May Also Like</h3>
        <div class="related-post-block">
            {% for context in similar_posts %}
            <div class="related-post-box">
                <a href="{{ context.get_absolute_url }}"><img src="{{ context.cover.url }}" style="width: 170px; height: 113px" alt="Post"/></a>
                <span><a href="#" title="Travel">{{ context.category }}</a></span>
                <h3><a href="{{ context.get_absolute_url }}" title="{{ context.title }}">{{ context.title }}</a></h3>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Related Post /- -->
{% endblock %}
