{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}


{% block content %}
    <div class="contact-info">
        <img src="{{ contact_info.image.url }}" style="width: 1170px; height: 500px" alt="{{ contact_info.title }}">
        <div class="block-title">
            <h3>{{ contact_info.title }}</h3>
        </div>
        <p>{{ contact_info.body }}</p>
    </div>
    <div class="contact-form">
        {% include 'contact/post/share.html' %}
    </div>
{% endblock %}
