{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}jTro Blog{% endblock %}</title>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images//favicon.ico' %}"/>

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed"
          href="{% static 'assets/images//apple-touch-icon-114x114-precomposed.png' %}">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed"
          href="{% static 'assets/images//apple-touch-icon-72x72-precomposed.png' %}">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed"
          href="{% static 'assets/images//apple-touch-icon-57x57-precomposed.png' %}">

    <!-- Library - Google Font Familys -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700%7cMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- css -->
    {% include 'base/css.html' %}
    <!-- end css -->

</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
<!-- Loader -->
<div id="site-loader" class="load-complete">
    <div class="loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div><!-- Loader /- -->

<!-- Header Section -->
{% include 'base/header.html' %}
<!-- Header Section /- -->

<div class="main-container">

    <main class="site-main">

        <!-- Slider Section -->
        {% block slider %}{% endblock %}
        <!-- Slider Section /- -->

        <!-- Trending Section -->
        {% block trending %}{% endblock %}
        <!-- Trending Section /- -->

        <!-- Page Content -->
        <div class="container-fluid no-left-padding no-right-padding page-content">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <!-- Content Area -->
                    <div class="col-lg-8 col-md-6 content-area">
                        {% block content %}{% endblock %}
                    </div>
                    <!-- Content Area /- -->
                    <!-- Widget Area -->
                    <div class="col-lg-4 col-md-6 widget-area">
                        <!-- Widget : Latest Post -->
                        {% show_latest_posts 5 %}
{#                        {% include 'base/latest.html' %}#}
                        <!-- Widget : Latest Post /- -->
                        <!-- Widget : Popular Post -->
                        {% include 'base/popular.html' %}
                        <!-- Widget : Popular Post /- -->
                        <!-- Widget : Categories -->
                        {% include 'base/categories.html' %}
                        <!-- Widget : Categories /- -->
                        <!-- Widget : Gallery -->
{#                        {% include 'base/videos.html' %}#}
                        <!-- Widget : Gallery /- -->
                        <!-- Widget : Follow Us -->
{#                        {% include 'base/socialmedia.html' %}#}
                        <!-- Widget : Follow Us /- -->
                        <!-- Widget : Newsletter -->
{#                        {% include 'base/subscribe.html' %}#}
                        <!-- Widget : Newsletter /- -->
                        <!-- Widget : Tags -->
                        {% include 'base/tags.html' %}
                        <!-- Widget : Tags /- -->
                        <!-- Widget : Feature Post -->
                        {% include 'base/feature.html' %}
                        <!-- Widget : Feature Post /- -->
                    </div>
                    <!-- Widget Area /- -->
                </div>
            </div><!-- Container /- -->
        </div><!-- Page Content /- -->

    </main>

</div>

<!-- Footer Main -->
<footer class="container-fluid no-left-padding no-right-padding footer-main">
    <!-- Gallery -->
    {% include 'base/gallery.html' %}
    <!-- Gallery /- -->
    <!-- Container -->
    {% include 'base/footer.html' %}
</footer><!-- Footer Main /- -->

<!-- js -->
{% include 'base/js.html' %}
<!-- end js -->

</body>
</html>
