{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/revolution/css/settings.css' %}">
<!-- Library -->
<link href="{% static 'assets/css/lib.css' %}" rel="stylesheet">

<!-- Custom - Common CSS -->
<link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

<!--[if lt IE 9]>
<script src="{% static 'js/html5/respond.min.js' %}"></script>
<![endif]-->

<!-- UPPER JS  -->

<!-- JQuery v1.12.4 -->
<script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
