{% load static %}


<aside class="widget widget_tranding_post">
                            <h3 class="widget-title">FEATURE Posts</h3>
                            <div id="trending-widget" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="trnd-post-box">
                                            <div class="post-cover"><a href="#"><img
                                                    src="https://via.placeholder.com/345x230"
                                                    alt="Tranding Post"/></a></div>
                                            <span class="post-category"><a href="#"
                                                                           title="Lifestyle">Lifestyle</a></span>
                                            <h3 class="post-title"><a href="#">New Fashion Collection Show This Weekend
                                                in Boston </a></h3>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="trnd-post-box">
                                            <div class="post-cover"><a href="#"><img
                                                    src="https://via.placeholder.com/345x230"
                                                    alt="Tranding Post"/></a></div>
                                            <span class="post-category"><a href="#"
                                                                           title="Lifestyle">Lifestyle</a></span>
                                            <h3 class="post-title"><a href="#">New Fashion Collection Show This Weekend
                                                in Boston </a></h3>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="trnd-post-box">
                                            <div class="post-cover"><a href="#"><img
                                                    src="https://via.placeholder.com/345x230"
                                                    alt="Tranding Post"/></a></div>
                                            <span class="post-category"><a href="#"
                                                                           title="Lifestyle">Lifestyle</a></span>
                                            <h3 class="post-title"><a href="#">New Fashion Collection Show This Weekend
                                                in Boston </a></h3>
                                        </div>
                                    </div>
                                </div>
                                <ol class="carousel-indicators">
                                    <li data-target="#trending-widget" data-slide-to="0" class="active"></li>
                                    <li data-target="#trending-widget" data-slide-to="1"></li>
                                    <li data-target="#trending-widget" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </aside>