{% load static %}


<aside class="widget widget_tranding_post">
    <h3 class="widget-title">FEATURE Posts</h3>
    <div id="trending-widget" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for context in feature_post %}
                {% if forloop.first %}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item  ">
                {% endif %}
                <div class="trnd-post-box">
                    <div class="post-cover">
                        <a href="#"><img src="{{ context.cover.url }}" style="width: 350px; height: 200px;" alt="{{ context.title }}"/></a>
                    </div>
                    <span class="post-category">
                        <a href="#" title="Lifestyle">{{ context.category }}</a>
                    </span>
                    <h3 class="post-title"><a href="#">{{ context.title }}</a></h3>
                </div>
            </div>
            {% endfor %}
        </div>
        <ol class="carousel-indicators">
            {% for context in feature_post %}
                {% if forloop.first %}
                    <li data-target="#trending-widget" data-slide-to="{{forloop.counter0}}" class="active"></li>
                {% else %}
                    <li data-target="#trending-widget" data-slide-to="{{forloop.counter0}}"></li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</aside>