{% load static %}


<div class="container">
        <ul class="ftr-social">
            <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i>twitter</a></li>
            <li><a href="#" title="Instagram"><i class="fa fa-instagram"></i>Instagram</a></li>
            <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i>Google plus</a></li>
            <li><a href="#" title="Pinterest"><i class="fa fa-pinterest-p"></i>pinterest</a></li>
            <li><a href="#" title="Youtube"><i class="fa fa-youtube"></i>youtube</a></li>
        </ul>
        <div class="copyright">
            <p>Copyright @ 2017 MINIMAG</p>
        </div>
    </div><!-- Container /- -->
