{% load static %}


<div class="container">
    <ul class="ftr-social">
        <li><a href="{{ socialmedia.facebook }}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
        <li><a href="{{ socialmedia.twitter }}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i>twitter</a></li>
        <li><a href="{{ socialmedia.instagram }}" target="_blank" title="Instagram"><i class="fa fa-instagram"></i>Instagram</a></li>
        <li><a href="{{ socialmedia.linkedin }}" target="_blank" title="Pinterest"><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
        <li><a href="{{ socialmedia.youtube }}" target="_blank" title="Youtube"><i class="fa fa-youtube"></i>youtube</a></li>
        <li><a href="{{ socialmedia.github }}" target="_blank" title="Youtube"><i class="fa fa-github-square"></i>youtube</a></li>
    </ul>
    <div class="copyright">
        <p>Copyright @ 2017 MINIMAG</p>
    </div>
</div><!-- Container /- -->
