{% load static %}


<div class="container-fluid no-left-padding no-right-padding instagram-block">
        <ul class="instagram-carousel">
            <li><a href="#"><img src="https://via.placeholder.com/319x319/aaa" alt="Instagram"/></a></li>
            <li><a href="#"><img src="https://via.placeholder.com/319x319" alt="Instagram"/></a></li>
            <li><a href="#"><img src="https://via.placeholder.com/319x319/aaa" alt="Instagram"/></a></li>
            <li><a href="#"><img src="https://via.placeholder.com/319x319" alt="Instagram"/></a></li>
            <li><a href="#"><img src="https://via.placeholder.com/319x319/aaa" alt="Instagram"/></a></li>
            <li><a href="#"><img src="https://via.placeholder.com/319x319" alt="Instagram"/></a></li>
        </ul>
    </div>
