{% load static %}

<header class="container-fluid no-left-padding no-right-padding header_s header-fix header_s1">

    <!-- SidePanel -->
    <div id="slidepanel-1" class="slidepanel">
        <!-- Top Header -->
        <div class="container-fluid no-right-padding no-left-padding top-header">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-6">
                        <ul class="top-social">
                            <li><a href="#" title="Facebook"><i class="ion-social-facebook-outline"></i></a></li>
                            <li><a href="#" title="Twitter"><i class="ion-social-twitter-outline"></i></a></li>
                            <li><a href="#" title="Instagram"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 logo-block">
                        <a href="{% url 'blog:home' %}" title="Logo">jTro Log</a>
                    </div>
                    <div class="col-lg-4 col-6">
                        <ul class="top-right user-info">
                            <li>
                                <a href="#search-box" data-toggle="collapse" class="search collapsed" title="Search">
                                    <i class="pe-7s-search sr-ic-open"></i><i class="pe-7s-close sr-ic-close"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- Container /- -->
        </div><!-- Top Header /- -->
    </div><!-- SidePanel /- -->

    <!-- Menu Block -->
    <div class="container-fluid no-left-padding no-right-padding menu-block">
        <!-- Container -->
        <div class="container">
            <nav class="navbar ownavigation navbar-expand-lg">
                <a class="navbar-brand" href="{% url 'blog:home' %}">minimag</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbar1" aria-controls="navbar1" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbar1">
                    <ul class="navbar-nav">
                        <li><a class="nav-link" title="Contact" href="{% url 'blog:home' %}">Home</a></li>
                        <li><a class="nav-link" title="Contact" href="{% url 'about:about' %}">About</a></li>
                        <li><a class="nav-link" title="Contact" href="{% url 'contact:contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div id="loginpanel-1" class="desktop-hide">
                    <div class="right toggle" id="toggle-1">
                        <a id="slideit-1" class="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
                        <a id="closeit-1" class="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
                    </div>
                </div>
            </nav>
        </div><!-- Container /- -->
    </div><!-- Menu Block /- -->
    <!-- Search Box -->
    <div class="search-box collapse" id="search-box">
        <div class="container">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." required>
                    <span class="input-group-btn">
						<button class="btn btn-secondary" type="submit"><i class="pe-7s-search"></i></button>
					</span>
                </div>
            </form>
        </div>
    </div><!-- Search Box /- -->
</header>
