{% load static %}


<aside class="widget widget_latestposts">
                            <h3 class="widget-title">Popular Posts</h3>
                            <div class="latest-content">
                                <a href="#" title="Recent Posts"><i><img src="https://via.placeholder.com/100x80"
                                                                         class="wp-post-image" alt="blog-1"/></i></a>
                                <h5><a title="Beautiful Landscape View of Rio de Janeiro" href="#">Beautiful Landscape
                                    View of Rio de Janeiro</a></h5>
                                <span><a href="#">march 14, 2017</a></span>
                            </div>
                            <div class="latest-content">
                                <a href="#" title="Recent Posts"><i><img src="https://via.placeholder.com/100x80"
                                                                         class="wp-post-image" alt="blog-1"/></i></a>
                                <h5><a title="Enjoy Your Holiday with Adventures" href="#">Enjoy Your Holiday with
                                    Adventures</a></h5>
                                <span><a href="#">march 15, 2017</a></span>
                            </div>
                            <div class="latest-content">
                                <a href="#" title="Recent Posts"><i><img src="https://via.placeholder.com/100x80"
                                                                         class="wp-post-image" alt="blog-1"/></i></a>
                                <h5><a title="Best Photography Experience Shooting" href="#">Best Photography Experience
                                    Shooting</a></h5>
                                <span><a href="#">march 15, 2017</a></span>
                            </div>
                            <div class="latest-content">
                                <a href="#" title="Recent Posts"><i><img src="https://via.placeholder.com/100x80"
                                                                         class="wp-post-image" alt="blog-1"/></i></a>
                                <h5><a title="How to Forecast Your Retirement Savings" href="#">How to Forecast Your
                                    Retirement Savings</a></h5>
                                <span><a href="#">march 16, 2017</a></span>
                            </div>
                        </aside>