{% load static %}

<aside class="widget widget_social">
    <h3 class="widget-title">FOLLOW US</h3>
    <ul>
        <li><a href="{{ socialmedia.facebook }}" target="_blank" title=""><i class="ion-social-facebook-outline"></i></a></li>
        <li><a href="{{ socialmedia.twitter }}" target="_blank" title=""><i class="ion-social-twitter-outline"></i></a></li>
        <li><a href="{{ socialmedia.instagram }}" target="_blank" title=""><i class="ion-social-instagram-outline"></i></a></li>
        <li><a href="{{ socialmedia.pintest }}" target="_blank" title=""><i class="ion-social-pinterest-outline"></i></a></li>
        <li><a href="{{ socialmedia.linkedin }}" target="_blank" title=""><i class="ion-social-linkedin-outline"></i></a></li>
    </ul>
</aside>
