{% load static %}


<aside class="widget widget_newsletter">
                            <h3 class="widget-title">Newsletter</h3>
                            <div class="newsletter-box">
                                <i class="ion-ios-email-outline"></i>
                                <h4>Sign Up for Newsletter</h4>
                                <p>Sign up to receive latest posts and news </p>
                                <form>
                                    <input type="text" class="form-control" placeholder="Your email address"/>
                                    <input type="submit" value="Subscribe Now"/>
                                </form>
                            </div>
                        </aside>
