{% load static %}


    <div class="container-fluid no-left-padding no-right-padding trending-section">
        <!-- Container -->
        <div class="container">
            <!-- Section Header -->
            <div class="section-header">
                <h3>Trending</h3>
            </div><!-- Section Header /- -->
            <div class="trending-carousel">
                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="https://via.placeholder.com/270x220"
                                                              alt="Trending"/></a>
                    </div>
                    <div class="entry-content">
                        <div class="entry-header">
                            <span><a href="#" title="Art">Art</a></span>
                            <h3 class="entry-title"><a href="#">A penguin bicycled behind an escalator</a></h3>
                        </div>
                    </div>
                </div>
                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="https://via.placeholder.com/270x220"
                                                              alt="Trending"/></a>
                    </div>
                    <div class="entry-content">
                        <div class="entry-header">
                            <span><a href="#" title="Travel">TRAVEL</a></span>
                            <h3 class="entry-title"><a href="#">There was a legend about the well in the garden</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="https://via.placeholder.com/270x220"
                                                              alt="Trending"/></a>
                    </div>
                    <div class="entry-content">
                        <div class="entry-header">
                            <span><a href="#" title="Nature">NATURE</a></span>
                            <h3 class="entry-title"><a href="#">The entrance to the tunnel was his only way out</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="https://via.placeholder.com/270x220"
                                                              alt="Trending"/></a>
                    </div>
                    <div class="entry-content">
                        <div class="entry-header">
                            <span><a href="#" title="Nature">NATURE</a></span>
                            <h3 class="entry-title"><a href="#">He was going back to a place he'd hoped</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Container /- -->
    </div>
