{% load static %}


<aside class="widget widget_instagram">
    <h3 class="widget-title">Gallery</h3>
    <ul>
        <li><a href="#"><img src="https://via.placeholder.com/111x111" alt="Instagram"/></a></li>
        <li><a href="#"><img src="https://via.placeholder.com/111x111" alt="Instagram"/></a></li>
        <li><a href="#"><img src="https://via.placeholder.com/111x111" alt="Instagram"/></a></li>
        <li><a href="#"><img src="https://via.placeholder.com/111x111" alt="Instagram"/></a></li>
        <li><a href="#"><img src="https://via.placeholder.com/111x111" alt="Instagram"/></a></li>
        <li><a href="#"><img src="https://via.placeholder.com/111x111" alt="Instagram"/></a></li>
    </ul>
</aside>
