{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}

{% block slider %}
    {% include 'base/slider.html' %}
{% endblock %}

{% block trending %}
    {% include 'base/trending.html' %}
{% endblock %}


{% block content %}
    <!-- Row -->
    <div class="row blog-masonry-list">
        <div class="col-lg-6 col-md-12 col-sm-6 blog-masonry-box">
            <div class="type-post">
                <div class="entry-cover">
                    <div class="post-meta">
                        <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
                        <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
                    </div>
                    <a href="#"><img src="https://via.placeholder.com/370x493" alt="Post"/></a>
                </div>
                <div class="entry-content">
                    <div class="entry-header">
                        <span class="post-category"><a href="#" title="Travel">Travel</a></span>
                        <h3 class="entry-title"><a href="#" title="Charming Evening Field">Charming
                            Evening Field</a></h3>
                    </div>
                    <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
                        but because those who do not know how to pursue pleasure rationally
                        encounter consequences that are extremely...</p>
                    <a href="#" title="Read More">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-6 blog-masonry-box">
            <div class="type-post">
                <div class="entry-cover">
                    <div class="post-meta">
                        <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
                        <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
                    </div>
                    <a href="#"><img src="https://via.placeholder.com/370x247" alt="Post"/></a>
                </div>
                <div class="entry-content">
                    <div class="entry-header">
                        <span class="post-category"><a href="#" title="Nature">Nature</a></span>
                        <h3 class="entry-title"><a href="#" title="Cliff Sunset Sea View">Cliff
                            Sunset Sea View</a></h3>
                    </div>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising pain was born and I will give you a complete account of the
                        system, and expound the actual teachings...</p>
                    <a href="#" title="Read More">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-6 blog-masonry-box">
            <div class="type-post">
                <div class="entry-cover">
                    <div class="post-meta">
                        <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
                        <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
                    </div>
                    <a href="#"><img src="https://via.placeholder.com/370x370" alt="Post"/></a>
                </div>
                <div class="entry-content">
                    <div class="entry-header">
                        <span class="post-category"><a href="#" title="TRAVEL">TRAVEL</a></span>
                        <h3 class="entry-title"><a href="#" title="Boat Trip to Mediterranean">Boat
                            Trip to Mediterranean</a></h3>
                    </div>
                    <p>These cases are perfectly simple and easy to distinguish. In a free hour,
                        when our power of choice is untrammelled and when nothing prevents our being
                        able to do what we like best...</p>
                    <a href="#" title="Read More">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-6 blog-masonry-box">
            <div class="type-post">
                <div class="entry-cover">
                    <div class="post-meta">
                        <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
                        <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
                    </div>
                    <a href="#"><img src="https://via.placeholder.com/370x247" alt="Post"/></a>
                </div>
                <div class="entry-content">
                    <div class="entry-header">
                        <span class="post-category"><a href="#" title="TRAVEL">TRAVEL</a></span>
                        <h3 class="entry-title"><a href="#" title="Beautiful Rio de Janeiro">Beautiful
                            Rio de Janeiro</a></h3>
                    </div>
                    <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
                        but because those who do not know how to pursue pleasure rationally
                        encounter consequences that are extremely...</p>
                    <a href="#" title="Read More">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-6 blog-masonry-box">
            <div class="type-post">
                <div class="entry-cover">
                    <div class="post-meta">
                        <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
                        <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
                    </div>
                    <a href="#"><img src="https://via.placeholder.com/370x247" alt="Post"/></a>
                </div>
                <div class="entry-content">
                    <div class="entry-header">
                                            <span class="post-category"><a href="#"
                                                                           title="Lifestyle">Lifestyle</a></span>
                        <h3 class="entry-title"><a href="#" title="Trendy Summer Fashion">Trendy
                            Summer Fashion</a></h3>
                    </div>
                    <p>To take a trivial example, which of us ever undertakes laborious physical
                        exercise, except to obtain some advantage from it? But who has any right to
                        find fault with a man who chooses...</p>
                    <a href="#" title="Read More">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-6 blog-masonry-box">
            <div class="type-post">
                <div class="entry-cover">
                    <div class="post-meta">
                        <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
                        <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
                    </div>
                    <a href="#"><img src="https://via.placeholder.com/370x555" alt="Post"/></a>
                </div>
                <div class="entry-content">
                    <div class="entry-header">
                        <span class="post-category"><a href="#" title="TRAVEL">TRAVEL</a></span>
                        <h3 class="entry-title"><a href="#" title="Hammock Camping Tips">Hammock
                            Camping Tips</a></h3>
                    </div>
                    <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
                        but because those who do not know how to pursue pleasure rationally
                        encounter consequences that are extremely...</p>
                    <a href="#" title="Read More">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-6 blog-masonry-box">
            <div class="type-post">
                <div class="entry-cover">
                    <div class="post-meta">
                        <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
                        <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
                    </div>
                    <a href="#"><img src="https://via.placeholder.com/370x555" alt="Post"/></a>
                </div>
                <div class="entry-content">
                    <div class="entry-header">
                                            <span class="post-category"><a href="#"
                                                                           title="TECHNOLOGY">TECHNOLOGY</a></span>
                        <h3 class="entry-title"><a href="#" title="Traffic Jams Solved">Traffic Jams
                            Solved</a></h3>
                    </div>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising pain was born and I will give you a complete account of the
                        system, and expound the actual teachings...</p>
                    <a href="#" title="Read More">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-6 blog-masonry-box">
            <div class="type-post">
                <div class="entry-cover">
                    <div class="post-meta">
                        <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
                        <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
                    </div>
                    <a href="#"><img src="https://via.placeholder.com/370x247" alt="Post"/></a>
                </div>
                <div class="entry-content">
                    <div class="entry-header">
                                            <span class="post-category"><a href="#"
                                                                           title="LIFESTYLE">LIFESTYLE</a></span>
                        <h3 class="entry-title"><a href="#" title="New Fashion Outfits">New Fashion
                            Outfits</a></h3>
                    </div>
                    <p>To take a trivial example, which of us ever undertakes laborious physical
                        exercise, except to obtain some advantage from it? But who has any right to
                        find fault with a man who chooses...</p>
                    <a href="#" title="Read More">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Row /- -->
    <!-- Pagination -->
    <nav class="navigation pagination">
        <h2 class="screen-reader-text">Posts navigation</h2>
        <div class="nav-links">
            <a class="prev page-numbers" href="#">Previous</a>
            <span class="page-numbers current">
										<span class="meta-nav screen-reader-text">Page </span>1
									</span>
            <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>2</a>
            <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>3</a>
            <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>...</a>
            <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>6</a>
            <a class="next page-numbers" href="#">Next</a>
        </div>
    </nav>
    <!-- Pagination /- -->
{% endblock %}
